<div class="gallery" data-tags="{{ project.attributes }}">

  <div class="card">
    <div class="card-header">
      {% if project.gallery-title %}
        <h2>
          {% if project.pageHasContent %}
            <a href="{{ project.url | relative_url }}">{{ project.gallery-title | escape }}</a>
          {% else %}
            {{ project.title | escape }}
          {% endif %}
        </h2>
      {% else %}
        <h2>
          {% if project.pageHasContent %}
            <a href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
          {% else %}
            {{ project.title | escape }}
          {% endif %}
        </h2>
      {% endif %}
    </div>

    <div class="card-body">
      {%- if project.gallery-folder -%}
          <a href="{{ project.url | relative_url }}">
          <img src="{{ project.gallery-folder }}/thumbnail.jpg" alt="{{ project.title }}" 
          class="card-img-top object-fit-cover"
          style="height: auto;">
          </a>
      {%- endif -%}

    </div>
  </div>
</div>

