---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

// @import "variables";
@import "myVariables";

@import "minima/minima";

// only take the things we need from bootstrap
@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/list-group";
@import "bootstrap/code";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/utilities";
@import "bootstrap/dropdown";
@import "bootstrap/card";
@import "bootstrap/buttons";
@import "bootstrap/images";
@import "bootstrap/transitions";
@import "bootstrap/carousel";



//@import "rouge";

.bg-gradient {
  background-image: linear-gradient(0deg,$back-primary, $back-secondary);
}

body {
  min-height: 100vh;
  height: 100%;
}


.section {
  // &:nth-child(even) {
  //   background-color: white;
  // }

  // &:nth-child(odd) {
  //   background-color: lighten($back-primary, 0%);
  // }
}

.card-header .card-title {
  margin-bottom: 0;
}

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 5 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  text-shadow: $all;
}

.navbar-brand {
  font-family: "Fira Mono";
  font-size: 1.4em;
  @include glow(4, $primary);
}


