---
layout: default
---

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: { inlineMath: [ ["$", "$"], ["\\(", "\\)"] ],
    displayMath: [ ["$$","$$"], ["\\[", "\\]"] ]
    }
  });
</script>

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>


<h1>{{ page.title }}</h1>
  
{% assign project = page %}
{% assign own_Page = true %}
{% if page.tags contains "paper" %}
  {% include paper_card.html %}

{% else %}
  {% include project_card.html %}
{%- endif -%}

<hr class = "mine">

{% if content contains " "%}
{{ content }} 
<hr class = "mine">
{% endif %}

{% if page.tags contains "ihp" %}
  <div class="ihp-back-link">
    <a href="/ihp" class="btn btn-outline-primary">
      ← Back to IHP
    </a>
  </div>
{% endif %}

{% if page.tags contains "drawing-club" %}
  <div class="ihp-back-link">
    <a href="/ihp" class="btn btn-outline-primary">
    ← Back to Drawing Club
  </a>
    
  </div>
{% endif %}


{% if page.tags contains "gallery" %}

  {% include gallery_card.html %}
{%- endif -%}