html
{
	font-family: "Rubik", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: rgb(24, 24, 24);
}

body
{
	-webkit-text-size-adjust: 100%;
}

#wherl-canvas
{
	width: 100vmin;
	height: calc(100vmin * 9 / 16);

	border: 2px solid rgb(64, 64, 64);
	padding: 2px;
	border-radius: 18px;
}